@import '/src/mixin.scss';

.navBar {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  @include px-vw(height, 44);
  @include px-vw(padding-top, 10);
  @include px-vw(padding-bottom, 10);
  @include px-vw(padding-left, 12);
  @include px-vw(padding-right, 12);
  background-color: #fff;
  z-index: 999;
  p {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    @include px-vw(font-size, 20);
    @include px-vw(line-height, 24);
  }
  button {
    position: absolute;
    @include px-vw(top, 6);
    @include px-vw(width, 32);
    @include px-vw(height, 32);
    z-index: 99;
    &.back {
      @include px-vw(left, 12);
    }
    &.close {
      @include px-vw(right, 12);
    }
  }
}